:root {

    /* ===== Font & Font Size ===== */
    --body-font : 'Noto Sans KR', sans-serif;

    --font-semi-size : .75rem; /* 12px */
    --font-nomarl-size : .937rem; /* 15px */
    --font-middle-size : 1.25rem; /* 20px */
    --font-big-size : 1.5rem; /* 24px */
    --font-nmbig-size : 2rem; /* 32px */

        /* ===== Font Colors ===== */
        --black-color : #17202A;
        --white-color : #fff;
        --gray-color : #C0C0C0;
        --light-gray-color : #D3D3D3;

    /* ===== Background Colors */
    --white-background-color : #fff;
    --light-gray-background-color : #D3D3D3;
    --black-background-color : #17202A;

    /* ===== Font Weight ===== */
    --font-nomal-bold : 400;
    --font-semi-bold : 600;
    --font-bold : 700;

    /* ===== Z-index ===== */
    --z-index: 100;
}

/* ===== Initial Setting ===== */
*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

ul,li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font: var(--body-font);
    font-size: var(--font-nomarl-size);
}

/* ===== Header ===== */
header.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--white-background-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.header__logo {
    font-size: var(--font-middle-size);
    font-weight: bold;
}

.header__list {
    display: flex;
}

.header__list li {
    padding: 0 1rem;
}

.header__list li a {
    font-weight: var(--font-semi-bold);
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx-search-alt {
    padding: 0.5rem 0;
    font-size: var(--font-middle-size);
}

form {
    display: flex;
    align-content: center;
    width: 100%;
}
input {
    width: 100%;
    border: 1px solid lightgray;
    padding-left: 0.5rem;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
}
.header__search {
    display: flex;
    align-content: center;
    justify-content: center;
}

.header__login {
    padding: 0.5rem 1.5rem;
    font-size: var(--font-middle-size);
    background-color: black;
    outline: none;
    border: none;
    color: white;
    border-radius: 1rem;
}

.search_button {
    background-color: transparent;
    border: none;
    margin: 0 .5rem 0 0;
    background-color: lightgray;
    border-radius: 0 .5rem .5rem 0;
}

/* ===== Nav ===== */
nav.nav {
    width: 100%;
    height: 800px;
    background-image: url(../img/background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 5rem;
}

.nav__sub {
    padding: 0;
    margin: 0;
    font-size: var(--font-middle-size);
}

.nav__title {
    font-size: var(--font-big-size);
    font-weight: var(--font-bold);
}

.nav__button {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-weight: var(--font-bold);
    border-radius: 2rem;
    background-color: var(--white-background-color);
    font-size: var(--font-nomarl-size);
    cursor: pointer;
}

.nav__button_goPage {
    background-image: linear-gradient(315deg, #ff9523 0%, #fb7ba2 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2rem;
}

/* ===== Section ===== */
section.section {
    margin-top: 3rem;
}

.section__container {
    padding: 1rem 3rem;
}

.section__title {
    font-size: var(--font-nmbig-size);
    margin: 3rem 0 1rem;
    font-weight: var(--font-bold);
}

.section__sub {
    margin: 0.5rem 0 0;
}

.section__cate {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-top: 1rem;
}

.section__cate a {
    margin: 1rem;
}

.cate__box {
    display: flex;
    align-items: center;
}

.cate__img {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

.cate__text {
    display: flex;
    flex-direction: column;
}

.cate__title {
    margin: 0 0 .5rem;
    font-weight: var(--font-bold);
}

.section__etc {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    margin-top: 1rem;
}

.etc__box {
    margin-bottom: 2rem;
}

.etc__box a {
    padding: 1rem;
    display: flex;
}

.etc__img {
    width: 64px;
    height: 64px;
    border-radius: 20%;
    margin-right: 1rem;
}

.etc__text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.etc__sub {
    font-weight: var(--font-bold);
    font-size: var(--font-nomarl-size);
    padding: 0.5rem 0;
}

/* ===== Aside ===== */
.aside__container {
    padding: 0 3rem;
}

.locate__ad {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1rem;
}

.ad__box {
    width: 100%;
    height: 300px;
}
.ad__img {
    width: 100%;
    height: 300px;
    border-radius: 2rem;
    padding: .5rem;
}

/* ===== Cooper ===== */
.cooper__container {
    height: 400px;
    padding: 0 3rem;
    margin-top: 3rem;
}

.cooper__box {
    background-image: url(../img/cooper_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
}

.cooper__title {
    font-size: var(--font-nmbig-size);
    font-weight: var(--font-bold);
    margin: 0;
    color: white;
}

.cooper__sub {
    font-size: var(--font-middle-size);
    margin: 1rem 0;
    color: white;
}

.cooper__button_goPage {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: var(--white-background-color);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    margin: 1rem 0;
}

/* ===== Company ===== */
.company__container {
    padding: 0 3rem;
}

.company__list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.company__box {
    margin-top: 2rem;
}

.company__box a {
    padding: 1rem;
}

.company__list_img {
    width: 100px;
    height: 100px;
}
/* ===== Footer ===== */
footer.footer {
    margin-top: 5rem;
    padding: 1rem 3rem;
    background-color: rgb(249, 249, 249);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid lightgray;
}

.footer__title {
    font-size: var(--font-semi-size);
    font-weight: var(--font-bold);
}

.footer__box {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.footer__box li {
    margin: .5rem 0;
}

.footer__box li a {
    font-size: var(--font-nomarl-size);
}

.footer__copyriht {
    padding: .5rem 0 0;
}

.footer__copyriht {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    font-size: var(--font-middle-size);
}

.footer__sns a {
    padding: 0 .5rem;
}

.sns_instagram {
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ===== @Media Query ===== */
@media screen and (max-width : 1024px) {
    .header__list li {
        display: none;
    }
    nav.nav {
        height: 600px;
    }
    .section__cate,
    .section__etc,
    .company__list {
        grid-template-columns: repeat(2, 4fr);
    }
}

@media screen and (max-width : 768px) {
    .header__container {
        padding: 1rem 1rem;
    }
    .header__login {
        padding: .5rem 1rem;
        font-size: var(--font-semi-size);
    }
    .section__container,
    .aside__container,
    .cooper__container,
    .company__container {
        padding: 0 1rem;
        text-align: center;
    }
    
    .cate__img,
    .etc__img {
        width: 48px;
        height: 48px;
    }
    .footer__container {
        grid-template-columns: repeat(1, 4fr);
    }
    .locate__ad {
        grid-template-columns: repeat(1,1fr)
    }
    .company__box {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .company__list_img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width : 480px) {
    .header__container {
        padding: .5rem;
    }
    .header__logo {
        font-size: var(--font-semi-size);
    }
    .header__logo a {
        display: flex;
        align-items: center;
    }
    .header__menu {
        font-size: var(--font-semi-size);
    }
    .header__login {
        padding: .5rem 1rem;
        font-size: var(--font-semi-size);
    }
    .bxs-user-detail {
        font-size: var(--font-semi-size);
    }
    input {
        width: 120px;
    }
    nav.nav {
        height: 400px;
        background-position: bottom;
    }
    .nav__sub {
        font-size: var(--font-semi-size);
    }
    .nav__title {
        font-size: var(--font-nomarl-size);
    }
    .nav__button {
        font-size: var(--font-semi-size);
        padding: 1rem 2rem;
    }
    .cate__img,
    .etc__img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .cate__box,
    .etc__box a {
        flex-direction: column;
        text-align: center;
    }

    .etc__box a {
        display: flex;
        align-items: center;
    }

    .cate__sub,
    .etc__sub_sub {
        display: none;
    }
    .cooper__container {
        padding: 0 1rem;
        height: 300px;
    }
    .cooper__box {
        padding: 1rem;
        height: 300px;
    }
    .cooper__title {
        font-size: var(--font-nomarl-size);
    }
    .cooper__sub {
        font-size: var(--font-semi-size);
    }
    .cooper__button_goPage {
        font-size: var(--font-semi-size);
    }
    .footer.footer {
        padding: 1rem;
    }

    .footer__copyriht {
        flex-direction: column;
    }

    form {
        height: 30px;
    }
    input {
        font-size: var(--font-semi-size)    ;
    }
    .bx-search-alt {
        font-size: var(--font-semi-size);
    }
}
